NEXT_PUBLIC_CONVEX_URL=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-sonnet-4-6
UPLOADTHING_TOKEN=
POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
HCAPTCHA_SECRET=
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=
